VITE_CRAWLER_API_BASE_URL=http://localhost:3000
VITE_DEFAULT_CANONICAL_URL=http://localhost:4000/api/admissions
VITE_DEFAULT_TARGET_URLS=https://our.upou.edu.ph/oas/, https://www.upou.edu.ph/, https://registrar.upou.edu.ph/admission, https://registrar.upou.edu.ph/bachelors-program
VITE_DEFAULT_WATCHED_FIELDS=Chancellor, Vice Chancellor for Academic Affairs, Vice Chancellor for Finance and Administration, Hard copies of admission documents by mail, UgAT requirement, UPCAT requirement, Tuition per unit, Application fee (Filipino undergraduate), Application fee (Foreign undergraduate), Admission inquiries email, Technical support email, Mailing address, 1st Trimester AY 2026-2027 deadline, Admission Section email, Admission Section Contact
